.home{
    position: relative;
    .banner-img{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 440px;
        height: 100%;
        border-bottom-right-radius: 70px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;
        z-index: 1;
        @include breakpoint(lg){
            width: 300px;
            background-position: right center;
        }
        @include breakpoint(md){
            width: 300px;
            background-position: right center;
        }
        @include breakpoint(sm){
            width: 300px;
            background-position: right center;
        }
        @include breakpoint(xs){
            width: 250px;
            background-position: right center;
        }
    }
    .home-banner-wrap{
        max-width: 1020px;
        margin-left: auto;
        z-index: 10;
        position: relative;
        @include breakpoint(lp){
            max-width: 740px;
        }
        @include breakpoint(md){
            max-width: 100%;
            flex-wrap: wrap;
        }
        @include breakpoint(sm){
            justify-content: center;
            padding-top: 20px;
        }
        .banner-inner-content{
            @include flex-center;
            justify-content: space-between;
            @include breakpoint(md){
                max-width: 560px;
            }
            @include breakpoint(sm){
               min-height: 100%;
               margin: 20px 0  0;
            }
            .custom-btn{
                @include breakpoint(sm){
                    margin-top: 0;
                }
            }
        }
        .total-items-wrap{
            background-color: $brand-color;
            width: 115px;
            height: 115px;
            border-radius: 50%;
            @include flex-center;
            flex-direction: column;
            justify-content: center;
            @include breakpoint(md){
                width: 85px;
                height: 85px;   
            }
            @include breakpoint(sm){
                width: 85px;
                height: 85px;   
            }
            h6{
                font-weight: 700;
                margin-bottom: 0.2rem;
                &:nth-last-child(1){
                    margin-bottom: 0;
                }
            }
        }
    }
}
.find-valuble-wrap{
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
    .search-field{
        position: relative;
        margin: 30px 0;
        i{
            font-size: 24px;
            color: $light-grey-clr;
            position: absolute;
            right: 15px;
            top: 36%;
            transform: translateY(-50%);
        }
    }
}
.categories-wrap{
    justify-content: center;
}